@charset "utf-8";
@font-face {
	font-family: 'Fruits Delight';
	src: url("Fruits Delight.otf");
}
@font-face {
	font-family: 'Nunito';
	src: url("Nunito.ttf");
}
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box
}
body {
	background-color: black;
	background-size: cover;
}
header {
	background: linear-gradient(to top, black -5%, #EC028D);
	background-repeat: no-repeat;
	height: 75px;
	margin-bottom: 75px
}
.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Fruits Delight';
}
.link {
	margin-top: 15px;
	padding-left: 95px;
	padding-right: 95px;
	font-size: 25px;
}
.subrayado {
	text-decoration-color: transparent;
	color: white;
	opacity: 60%
}
.subrayado:hover {
	opacity: 1;
	transition: all .2s;
}
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #111111;
	margin-top: 50px;
	height: 100px
}
.titulo-footer {
	color: #EAB7D8;
	font-family: 'Fruits Delight';
	margin-right: 100px
}
.redes {
	font-family: 'Nunito';
	font-size: 10px;
	opacity: 70%;
}
.anuncio {
	color: #EAB7D8;
	margin-left: 30px;
	margin-right: 30px;
}
.link-inicio {
	color: #EAB7D8;
	padding-left: 115px;
}
.formulario {
	color: #EAB7D8;
	font-family: 'Nunito';
	font-size: 25px;
	margin-left: 100px
}
.aca {
	text-decoration-color: #EAB7D8;
	color: #EAB7D8
}

/*Artistas*/

.titulo {
	color: #EAB7D8;
	font-family: 'Fruits Delight';
	font-size: 55px;
	margin-left: 100px;
	margin-right: 125px
}
.buscador {
	background-color: #EAB7D8;
	opacity: 40%;
	width: 230px;
	height: 35px;
	border-radius: 10px;
	border: thin;
	font-family: 'Nunito';
	font-size: 15px;
	padding-left: 15px;
	margin-left: 100px;
	margin-bottom: 75px
}
.buscador:hover {
	opacity: 1;
	transition: all .5s;
}
.artista {
	width: 400px;
	margin-left: 20px;
	border-radius: 15px;
}
.nombre {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	color: #EAB7D8;
	font-family: 'Fruits Delight';
	font-size: 30px;
}
.link-artista {
	text-decoration-color: transparent;
	opacity: .3;
}
.link-artista:hover {
	opacity: 1;
	transition: all .2s;
}
.row {
	display: flex;
	padding: 5px
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 20%;
	padding: 5px;
}